@font-face {
 	font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/montserrat/montserrat-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-regular.svg') format('svg');
}
