doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Figma2Html Metalamp by RyzhkovPavel
    body 
        .rpm
            .rpm-wrapper
                .rpm__logo Ryzhkov Pavel-
                .rpm__mail  [rpm-16@mail.ru]

            main
                h1 Toxin template
                .descript    (Тестовая верстка на Juniour). У выполненых на 85% и выше плитка зеленая остальные в процессе.
                .rpm-bones 
                    .rpm-bones__item.rpm-bones__item--done
                        .rpm-bones__img
                            img(src="./img/ColorsType.png", alt="Colors & type")
                        .rpm-bones__link
                            a(href="./colorstypes.html") Colors & Types 
                        .rpm-bones__description 
                            p Colors & Types used on this template. 
                                | All done.
                        .rpm-bones__progress Выполнено
                            progress(value="98" max="100")   

                    .rpm-bones__item--done
                        .rpm-bones__img
                            img(src="./img/FormElements.png", alt="form elements")
                        .rpm-bones__link
                            a(href="./formelements.html") Form Elements 
                        .rpm-bones__description 
                            p Forms & Elements used in this template    
                        .rpm-bones__progress Выполнено
                            progress(value="48" max="100")    

                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/Cards.png", alt="Cards")
                        .rpm-bones__link
                            a(href="./cards.html") Cards 
                        .rpm-bones__description 
                            p Диалоговые окна макета

                    .rpm-bones__item--done
                        .rpm-bones__img
                            img(src="./img/HeadersFooters.png", alt="HeadersFooters")
                        .rpm-bones__link
                            a(href="./headersfooters.html") HeadersFooters 
                        .rpm-bones__description 
                            p шапка и подвал макета   

                    .rpm-bones__item--done
                        .rpm-bones__img
                            img(src="./img/Landing.png", alt="Landing")
                        .rpm-bones__link
                            a(href="./landingpage.html") Landing Page 
                        .rpm-bones__description 
                            p Страничка лендинга      
                        .rpm-bones__progress Выполнено
                            progress(value="0" max="100")    

                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/SearchRoom.png", alt="Searchroom")
                        .rpm-bones__link
                            a(href="./searchroom.html") Search Room
                        .rpm-bones__description 
                            p Поиск   
                        .rpm-bones__progress Выполнено
                            progress(value="0" max="100")  

                    .rpm-bones__item
                        .rpm-bones__img
                            img(src="./img/Roomdetails.png", alt="room details")
                        .rpm-bones__link
                            a(href="./roomdetails.html") room details
                        .rpm-bones__description 
                            p Описание комнаты     
                        .rpm-bones__progress Выполнено
                            progress(value="0" max="100") 

                    .rpm-bones__item--done
                        .rpm-bones__img
                            img(src="./img/Registration.png", alt="registration")
                        .rpm-bones__link
                            a(href="./registration.html") Registration
                        .rpm-bones__description 
                            p Регистрация     
                        .rpm-bones__progress Выполнено
                            progress(value="0" max="100")      
                        
