.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment__column {
    margin-right: 10px;
    flex-grow: 1;
}

.comment__avatar {
    width: 48px;
    height: 48px;
    padding: 0px;
    background: url('../img/image.png');
    background-repeat: no-repeat;
    background-position: center -12px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
    border-radius: 32px;

    img {
        padding: 0px;
        margin: 0px;
        width: 48px;
        height: 48px;
    }
}

.comment__button {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    align-self: center;
}

.comment__text {
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.comment__author {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: -2px;
}

.comment__timeAgo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}