mixin price-calculator(args)

    table.price
      tbody
        tr 
          td 9990 x 4 суток
          td 39960Р
        tr 
          td Сбор за услуги: скидка 2179Р
          td 0Р
        tr 
          td Сбор за дополнительные услуги
          td 300Р
      tfoot.total-cost 
        tr
          td Итого
          td 38081Р
